@use "./variables" as vars;

.header {
  position: fixed;
  background-color: vars.$headerBackground;
  background: vars.$headerBackgroundGradient;
  // position: relative;
  z-index: 1;
  width: 100%;

  &__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 7px 40px;
    // position: relative;
    z-index: 2;
    max-width: calc(1280px + 2rem);
    margin: 0 auto;
  }

  &__curve {
    height: clamp(60px, 8vw, 100px);
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    width: 100%;
  }

  &__image {
    height: 50px;
    margin-right: 5px;
    background-color: black;
    width: 50px;
    border-radius: 100%;
    border: 3px solid red;
  }

  &__name {
    font-size: 1.6rem;
  }

  &__logo {
    align-items: center;
    display: flex;
    margin: 0 25px;
  }

  &__nav {
    display: flex;
    margin: 0 25px;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__item {
    border-bottom: 1px solid transparent; // default
    transition: border-color 1s;

    &--active {
      border-bottom: 1px solid vars.$button;
    }
  }

  &__button {
    background: none;
    width: auto;
    height: auto;
    color: vars.$button;
    padding: 0;

    &:hover,
    &:focus {
      background: none;
      color: vars.$accent-hover;
      transform: scale(1.1);
    }
  }
}

.scroll {
  background-color: vars.$headerBackground;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
