.home {
  display: flex;
  flex-direction: column;
  margin: 30px;
  min-height: calc(100vh - 8vw);
  text-align: center;

  &__skills {
    &-title {
      margin: 100px 0 25px 0;
    }

    &-list {
      display: flex;
      justify-content: space-around;

      > li {
        align-items: center;
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__projects {
    &__container {
      margin-top: 100px;
    }

    &__list {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__item {
      align-items: center;
      display: flex;
      margin: 35px;
      max-width: 444px;
      width: 100%;
    }
  }
}

.placeholder {
  &__skill-image {
    border: 1px solid gold;
    height: 66px;
    width: 66px;
  }

  &__projects__image {
    border: 1px solid gold;
    height: 150px;
    margin: 15px;
    width: 100%;
  }
}
