@use "./variables" as vars;

.imageModal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0%;
  left: 0%;
  z-index: 1000;

  &__container {
    max-width: 80vw;
  }

  &__image {
    width: 100%;

    border-radius: 12px;
    cursor: zoom-out;
  }
}
