/* =========================================================
   CORE PALETTE
   ========================================================= */

$bg-900: #0f1115;
$bg-850: #12151b;
$bg-800: #16191f;
$bg-750: #1e222c;

$text-primary: #dff1ff;

/* =========================================================
   HEADER
   ========================================================= */

$headerBackground: $bg-750;
$headerBackgroundGradient: linear-gradient(
  90deg,
  $bg-900 0%,
  $bg-800 30%,
  $bg-750 50%,
  $bg-800 70%,
  $bg-900 100%
);

/* =========================================================
   BODY / MAIN
   ========================================================= */

$bodyBackground: $bg-900;
$bodyBackgroundGradient: linear-gradient(
  180deg,
  $bg-800 0%,
  $bg-850 33%,
  $bg-850 66%,
  $bg-800 100%
);

$card-bg: #ffffff06;
$tech-bg: #2a272a;
$tech-border: #4b4a54;

/* =========================================================
   HOME – SECTIONS
   ========================================================= */

/* =========================================================
   FOOTER
   ========================================================= */

$footerBackground: $bg-750;
$footerBackgroundGradient: linear-gradient(
  90deg,
  $bg-900 0%,
  $bg-800 30%,
  $bg-750 50%,
  $bg-800 70%,
  $bg-900 100%
);

/* =========================================================
   ACCENT / INTERACTIONS
   ========================================================= */

$accent-primary: #4f8cff;
$accent-hover: #78aaff;
$accent-soft: #a0c8ff;

/* Buttons */
$button: $accent-primary;
$buttonHover: $accent-hover;

// WEB LINK GITHUB AND LIVE
$color-git: rgb(202, 202, 202);

/* =========================================================
   TRANSISIOTN
   ========================================================= */

$transition-basic: 0.3s ease-in-out;
