@use "header";
@use "footer";
@use "home";
@use "projects";
@use "about";
@use "imageModal";
@use "contact";
@use "./variables" as vars;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color: vars.$text-primary;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}

a {
  font-weight: 500;
  color: vars.$button;
  text-decoration: inherit;
  transition: background-color 0.25s;
}

a:hover,
a:focus {
  color: vars.$buttonHover;
}

body {
  place-items: center;
  margin: 0 auto;
  min-width: 320px;
  position: relative;
  background: vars.$bodyBackgroundGradient;
  // min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section {
  padding: 140px 0 60px 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul,
ol {
  list-style-type: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: vars.$button;
  cursor: pointer;
  transition: vars.$transition-basic;
}

button:hover {
  background-color: vars.$buttonHover;
  transform: scale(1.02);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#cursor-light {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 100;

  background: radial-gradient(
    200px circle at var(--x) var(--y),
    rgba(120, 140, 255, 0.08),
    transparent 50%
  );
}

.git-links {
  transition: fill 0.5s ease-in-out;

  &:hover {
    fill: vars.$accent-hover;
  }
}
// @media (prefers-color-scheme: light) {
//   :root {
//     color: #213547;
//     background-color: #ffffff;
//   }
//   a:hover {
//     color: #747bff;
//   }
//   button {
//     background-color: #f9f9f9;
//   }
// }

/* ===== TESTY ====== */
