@use "header";
@use "footer";
@use "home";
@use "projects";
@use "imageModal";
@use "./variables" as vars;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  // color-scheme: light dark;
  color: vars.$text-primary;

  // background-color: vars.$bodyBackground;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}

a {
  font-weight: 500;
  color: vars.$button;
  text-decoration: inherit;
  transition: background-color 0.25s;
}

a:hover {
  color: vars.$buttonHover;
}

body {
  place-items: center;
  margin: 0 auto;
  min-width: 320px;
  position: relative;
  // background: vars.$homeHeroBackgroundGradient;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  background: vars.$bodyBackgroundGradient;
}

section {
  padding: 60px 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul,
ol {
  list-style-type: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: vars.$button;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: vars.$buttonHover;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#cursor-light {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 1;

  background: radial-gradient(
    200px circle at var(--x) var(--y),
    rgba(120, 140, 255, 0.06),
    transparent 50%
  );
}

// @media (prefers-color-scheme: light) {
//   :root {
//     color: #213547;
//     background-color: #ffffff;
//   }
//   a:hover {
//     color: #747bff;
//   }
//   button {
//     background-color: #f9f9f9;
//   }
// }

/* ===== TESTY ====== */
