@use "../variables" as vars;

@media screen and (max-width: 767px) {
  .about {
    flex-direction: column;
    align-items: center;

    &__title {
      font-size: 2rem;
    }
    &__p {
      font-size: 0.9rem;
    }

    &__container {
      padding: 0;
      margin: 0 5px;
    }

    &__title--strenghts {
      font-size: 2rem;
    }

    &__list--item {
      max-width: 310px;
    }

    &__list--item__p {
      font-size: 0.85rem;
    }

    &__img {
      max-height: 310px;
      max-width: 310px;
    }
  }
}
