@use "../variables" as vars;

@media screen and (max-width: 767px) {
  .header {
    font-size: 0.85rem;
    width: 100%;
    &__container {
      padding: 0;
      flex-direction: column;
    }

    &__image {
      width: 45px;
      height: 45px;
      margin-top: 3px;
    }

    &__name {
      font-size: 1.4rem;
    }

    &__nav {
      margin: 0;
    }

    &__list {
      gap: 10px;
    }
  }
  .scroll__header {
    transition: vars.$transition-header;
    // background: red;
    transform: translateY(-57%);
  }
}
