@use "../variables" as vars;

@media screen and (max-width: 767px) {
  .home {
    overflow: hidden;

    &__hero {
      &__title {
        margin: 30px 0;
        font-size: 2.5rem;
      }

      &__container {
        flex-direction: column;
      }

      &-p {
        margin: 15px;
        font-size: 1.1rem;
        max-width: 400px;
      }

      &__image {
        opacity: 0.5;
        width: 90vw;
        max-width: 440px;

        &-wrapper {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          position: absolute;
          z-index: -2;
          height: auto;
          opacity: 0.4;
        }
      }
    }

    &__skills {
      &__title {
        font-size: 2rem;
      }
      &__list {
        justify-content: center;
        > li {
          width: 100px;
          min-height: 100px;
        }
      }
      &-image {
        width: 55px;
        height: 55px;
      }
    }

    &__projects {
      &__container {
        max-width: 320px;
        margin: 0 5px;
      }

      &__title {
        font-size: 2rem;
      }

      &__list {
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 20px;
      }

      &__item {
        max-width: 100%;
        height: auto;
      }

      &__image {
        width: 100%;
      }

      &__name {
        font-size: 1.1rem;
      }

      &__description {
        font-size: 0.8rem;
      }

      &__list-tech {
        gap: 5px;
      }

      &__icon-tech {
        width: 26px;
        height: 26px;

        &--name {
          font-size: 0.8rem;
        }
      }

      &__links {
        &-svg {
          height: 20px;
          width: 20px;
          margin-left: 3px;
        }
      }
    }
  }
}
