@use "../variables" as vars;

@media screen and (max-width: 767px) {
  .projects {
    &__title {
      font-size: 2.5rem;
    }

    &__container {
      margin: 0 7px 75px 7px;
    }
    &__list-container {
      display: flex;
      flex-direction: column;
      padding: 0;
      gap: 0;
    }

    &__list-text {
      margin: 0 7px;
    }

    &__image {
      max-height: 310px;
      height: 40%;
      width: 100%;
      padding: 0;
      border-bottom-right-radius: 0;
      border-right: none;
      border-top-right-radius: 16px;
      border-bottom: 4px solid vars.$accent-soft;
    }

    &__name {
      font-size: 1.6rem;
      margin-bottom: 3px;
    }

    &__description {
      font-size: 0.9rem;
      margin-bottom: 10px;
    }

    &__list-tech > li {
      font-size: 0.7rem;
      padding: 2px;
      border: 1px solid vars.$tech-border;
    }

    &__links {
      &-svg {
        height: 24px;
        width: 24px;
      }
    }
  }
}
